// #myCarousel{
//   height: 400px;
// }


//Main Header Section
#header-row{
  border-bottom: 1px solid #b2b2b2;
  padding:0 0 50px 0;
  margin-bottom: 50px;
}

#main-header{
  color: #11c1f3;
  font-size: 6em;
  font-family: 'PT Sans', sans-serif;
  text-transform:uppercase;
  letter-spacing:.3em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

#main-logo{
  width: 250px;
}

#main-subheader{
  color: #b2b2b2;
  font-family: 'PT Sans', sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

//Main Feature Section
.marketing{
}

.main-feature-headers{
  color: #b2b2b2;
  font-family: 'PT Sans', sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.main-feature-text{
  color: #606060;
  font-family: 'PT Sans', sans-serif;
  letter-spacing:.1em;
}

//Featurette Section

.featurette-heading{
  color: #b2b2b2;
  font-family: 'PT Sans', sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
}

.lead{
  color: #606060;
  font-family: 'PT Sans', sans-serif;
}
